@import '../../../../styles/variables.scss';

.setttings-order {
  max-height: 500px;

  & .wrapper {
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    & .cancel {
      background: $redButton;
      width: 100px;
    }
  
    & .save {
      width: 100px;
      background: $buttonsAdmin;
    }
  }
}