@import '../../../../../styles/variables.scss';

.settings-item__select {
  @extend %displayFlex;
  margin: 10px 0px;

  & .name {
    display: inline-block;
    width: 80px;
  }

  & .select {
    width: 80%;
  }
}