@import '../../styles/variables.scss';

.order-page,
.confirm-page {
  margin-left: 80px;

  & .wrapper {
    height: 100vh;

    & .ant-layout {
      height: 100vh;
      background: #fff;
    }

    & .ant-layout-content {
      flex: none;
    }

    & .content {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      background: $white;
      flex-grow: inherit;
  
      & .forms {
        width: 65%;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 1050px) {
  .order-page,
  .confirm-page {
    & .wrapper {
      & .ant-layout {    
        & .forms {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .order-page,
  .confirm-page {
    margin-left: 0px;

    & .wrapper {
      & .ant-layout {

        & .content {
          z-index: 10;

          & .result {
            margin-left: 10px;
          }
        }
      }
    }
  }
}