$mainAccent: #0EC261;
$black: #121212;
$gray: #999999;
$white: #FFFFFF;
$backgroundBlack: #151B1F;
$grayFooter: #EEEEEE;

$sliderDark: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
$slideZero: linear-gradient(90deg, #13493F 0%, #0C7B1B 100%);
$slideOne: linear-gradient(90deg, #132949 0%, #0C7B67 100%);
$slideTwo: linear-gradient(90deg, #493013 0%, #7B0C3B 100%);
$slideThree: linear-gradient(90deg, #281349 0%, #720C7B 100%);
$orderButton: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);

$fonts: 'Roboto', 'Arial', sans-serif;;