$mainAccent: #0EC261;
$black: #121212;
$gray: #999999;
$white: #FFFFFF;
$backgroundBlack: #151B1F;
$grayFooter: #EEEEEE;
$backgroundAdmin: #F5F6F8;
$buttonsAdmin: #007BFF;
$error: #ff4d4f;
$red: red;
$adminTitles: #3D5170;
$boxShadow: #CACEDB;
$colorFix: #818EA3;
$adminFormBorder: #BECAD6;
$adminTextGray: #889098;
$grayTitle: #868E96;
$grayText: #5A6169;
$grayButton: #E9ECEF;
$redButton: #CB3656;

$sliderDark: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
$slideZero: linear-gradient(90deg, #13493F 0%, #0C7B1B 100%);
$slideOne: linear-gradient(90deg, #132949 0%, #0C7B67 100%);
$slideTwo: linear-gradient(90deg, #493013 0%, #7B0C3B 100%);
$slideThree: linear-gradient(90deg, #281349 0%, #720C7B 100%);
$orderButton: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);

$fonts: 'Roboto', 'Arial', sans-serif;

%displayFlex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

%pagination {
  thead[class*="ant-table-thead"] th{
    background-color: $white;
  }

  & .ant-table-pagination.ant-pagination {
    margin: 8px 0;
  }

  & .card-row {
    height: 36.5px;
 
    & .ant-table-cell {
      padding: 8px 8px;
    }
  }

  & .ant-pagination-item {
    border: none;
    background: transparent;

    & a {
      color: $buttonsAdmin;
    }
  }

  & .ant-pagination-options {
    display: none;
  }

  & .ant-pagination-item-active {
    background: $buttonsAdmin;
    border-radius: 50%;
    border-color: 1px solid $buttonsAdmin;

    & a {
      color: $white;
    }
  }
}