@import '../../../../../../styles/variables.scss';

.settings-item__switch {
  @extend %displayFlex;
  margin: 20px 0px;

  & .name {
    display: inline-block;
    width: 120px;
  }

  & .switch {
    width: 40%;
  }
}