@import '../../../styles/variables.scss';

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 50px;

  & .radio-btns {
    width: 100%;
    margin-bottom: 48px;
  }

  & .active {
    border-color: $mainAccent;
  }

  & .card {
    width: 45%;
    cursor: pointer;
    border-width: 1px;
    overflow: hidden;

    &:hover {
      border-color: $gray;
    }

    & .title {
      font-weight: 400;
      font-size: 18px;
      color: $black;
    }

    & .price {
      font-size: 14px;
      line-height: 16px;
      font-weight: normal;
      color: $gray;
    }

    & .ant-card-body {
      display: flex;
      justify-content: flex-end;

      & .image {
        width: 256px;
        height: 116px;
      }
    }
  }

  & .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    padding: 10px 0px;
  }
}

@media (max-width: 700px) {
  .cards {
    margin-left: 0px;

    & .radio-btns {
      margin: 0px 0px 10px 10px;
      
      & .ant-radio-wrapper {

        & span {
          padding: 0px 0px 0px 4px;
        }
      }
    }

    & .card {
      width: 90%;
      flex-grow: 1;
    }
  }
}