@import '../../../../styles/variables.scss';

.select-wrapper {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;

  & .title {
    color: $black;
    margin: 16px 0px 16px;
  }

  & .select-values {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    & .value {
      color: $gray;
      width: 100%;
      margin: 4px 0px 4px;
    }
  
    & .active {
      color: $black;
    
      &::after {
        border: 1px solid $white;
      }

      & .ant-radio-inner {
        background-color: $mainAccent;
        border-color: $white;

        &::after {
          background-color: $white;
          width: 9px;
        }
      }
    }
  }
}